<!-- INÍCIO DO CONTEÚDO -->
<section class="content login-content" style="margin: 10% auto" [@loginAppeared]="loginState">
  <div class="login-logo">
       <!--<b>Health Market</b> | Login-->
       <img class="logoLogin" src="assets/img/HealthMarket_logo.png" alt="">
  </div>
  <div class="col-xs-12 col-sm-offset-3 col-sm-6 login-box-body">
  <p class="login-box-msg">Por favor, efetue o login para continuar</p>

  <form [formGroup]="loginForm">
    <mt-input-container [showTip]="false">
      <input type="text" formControlName="email" class="form-control" placeholder="Email">
      <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
    </mt-input-container>
    <mt-input-container [showTip]="false">
      <input type="password" formControlName="password" class="form-control" placeholder="Password">
      <span class="glyphicon glyphicon-lock form-control-feedback"></span>
    </mt-input-container>
    <div class="row">
      <!-- /.col -->
      <div class="col-xs-4 .col-md-4">
        <a class="text-white" [routerLink]="['/create-login']">
          <button type="button" class="btn btn-success btn-block btn-flat">
              Criar Login
          </button>
        </a>
      </div>

      <div class="col-xs-4 .col-md-4 pull-right">
        <button type="submit" (click)="login()" class="btn btn-primary btn-block btn-flat" [disabled]="loginForm.invalid">Entrar</button>
      </div>
      <!-- /.col -->
    </div>
  </form>
  </div>
</section>
<!-- FIM DO CONTEÚDO -->