<!-- INÍCIO DO CONTEÚDO -->
<div [@aboutAppeared]="aboutState">
      <section class="content-header">
        <h1><strong>Sobre</strong></h1>
        <br>
        <p class="lead">O Health Market é um marketplace de produtos farmacêuticos e de cuidados pessoais, onde as drogarias parceiras oferecem seus produtos na plataforma de uma forma fácil, rápida e rentável, trazendo assim mais comodidade para nossos clientes que buscam facilidade e economia no seu dia-a-dia. Visto que alguns serviços próprios das farmácias nem sempre são eficazes na entrega do serviço, a Health Market oferecerá desde a divulgação e vendas dos produtos até a entrega do pedido.</p>
      </section>

      <section class="content">
          <p class="lead">
            Health Market | Sua drugstore preferida.
          </p>
          <p class="lead">
            MIT license
          </p>
          <p class="lead">Copyright 2018 Health Market (<a href="#">https://www.healthmarket.com.br</a>)</p>
          <p class="lead">É concedida permissão, gratuitamente, a qualquer pessoa que obtenha uma cópia deste software e dos arquivos de documentação associados (o "Software"), para negociar o Software sem restrições, incluindo, sem limitação, os direitos de uso, cópia, modificação e fusão , publicar, distribuir, sublicenciar e / ou vender cópias do Software, e permitir que as pessoas a quem o Software é fornecido o façam, sujeitas às seguintes condições:</p>
          <p class="lead">O aviso de copyright acima e este aviso de permissão devem ser incluídos em todas as cópias ou partes substanciais do Software.</p>
          <p class="lead">
            O SOFTWARE É FORNECIDO "NO ESTADO EM QUE SE ENCONTRA", SEM NENHUM TIPO DE GARANTIA, EXPRESSA OU IMPLÍCITA, INCLUINDO, MAS NÃO SE LIMITANDO ÀS GARANTIAS DE COMERCIALIZAÇÃO, ADEQUAÇÃO A UM FIM ESPECÍFICO E NÃO VIOLAÇÃO. EM NENHUMA CIRCUNSTÂNCIA, OS AUTORES OU PROPRIETÁRIOS DE DIREITOS DE AUTOR PODERÃO SER RESPONSABILIZADOS POR QUAISQUER REIVINDICAÇÕES, DANOS OU OUTRAS RESPONSABILIDADES, QUER EM ACÇÃO DE CONTRATO, DELITO OU DE OUTRA FORMA, DECORRENTES DE, OU EM CONEXÃO COM O SOFTWARE OU O USO OU OUTRAS NEGOCIAÇÕES NO PROGRAMAS.</p>
          <p class="lead">
            Imagens usadas na aplicação por <a href="http://www.freepik.com" target="_blank">freepik.com</a>
          </p>

        </section>
</div>
<!-- FIM DO CONTEÚDO -->
